<div class="card">
  <div class="card-body">
    <h5 class="card-title">Chat view 1</h5>
    <!-- Create space to display chat messages-->
    <div class="chat-box">
      <div *ngFor="let message of messages">
        <div class="message">
          <div class="message-header">
            <span class="message-sender">{{ message.sender }}</span>
            <span class="message-time">{{ message.time }}</span>
          </div>
          <div class="message-content">
            {{ message.content }}
          </div>
        </div>
      </div>
      <!-- Create space so that user can type messages to LLM -->
      <div class="chat-input">
        <input
          type="text"
          class="form-control"
          placeholder="Type your message here"
          [(ngModel)]="messageContent"
        />
        <button class="btn btn-primary" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
