<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <!-- display agent name here-->
      {{agentName}} Chat
    </h5>
    <!-- Create space to display chat messages-->
    <div class="chat-box" id="divMessages">
      <div *ngFor="let message of messages">
        <div class="message">

          <app-chat-message
            [content]="message.content"
            [sender]="message.sender"
            [time]="message.time"
            >
          </app-chat-message>
          
          
        </div>
      </div>

  </div>

      <!-- Create space so that user can type messages to LLM -->
      <div class="chat-input">
        <input
          type="text"
          class="form-control"
          placeholder="Type your message here"
          [(ngModel)]="messageContent"
          id="chatInput"
        />
        <button class="btn btn-primary" (click)="sendMessage()">Send</button>
    </div>
</div>


